* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


body {
    font-family: 'Roboto Condensed', sans-serif;

}

h2 {
    color: #008B8B;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
}

h3 {
    color: #B0C4DE;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
}

header{
    background: no-repeat;
    background-image: url("../img/tomate3.jpg");
    background-size: cover;
    }
