* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


body {
    font-family: 'Roboto Condensed', sans-serif;

}

h2 {
    color: #008B8B;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
}

h3 {
    color: #37455c;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
}


header {
    background: no-repeat;
    background-image: url("../img/tomate3.jpg");
    background-size: cover;
}



.degrade {
    background-image: linear-gradient(15deg, #f7ff76 0, #e4ff72 12.5%, #cefe70 25%, #b6fb6f 37.5%, #9cf870 50%, #7ef573 62.5%, #59f178 75%, #12ee7f 87.5%, #00eb88 100%);
}

footer {
    padding: 1rem;
    background: no-repeat;
    background-image: url("../img/tomate2.jpg");
    background-size: cover;
}

.pie-de-foto{
    font-size: 1.5rem;
    padding: 14px;
}

.iniciar-sesion{
    padding: 50px;
    height: 70vh;
    font-size: 1.5rem;

}

.sepa{
    padding: 0.5px;
}

.legales{
        padding: 30px;
    height: 80vh;
    font-size: 1.5rem;
}